.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-long-enter-active,
.fade-long-leave-active {
  transition: opacity 1.2s;
}
.fade-long-enter,
.fade-long-leave-to {
  opacity: 0;
}

.expand-enter-active,
.expand-leave-active {
  transition: height 0.6s ease-in-out;
  overflow: hidden;
}

.expand-enter,
.expand-leave-to {
  height: 0;
}

.slideup-enter-active,
.slideup-leave-active {
  transition: all 1s ease-in-out;
}

.slideup-enter,
.slideup-leave-to {
  transform: translateY(25px);
  opacity: 0;
}
